
.nav-header{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width:100%;
  height: max-content;
  background-color: #f9db79;
  font-size: 1.125rem;
  font-weight: bold;

}
.logo{
  width: 80px;
}
.links-header{
  display: flex;
  gap: 40px;
}

@media (max-width:768px){
  .nav-header{
 flex-direction: column;
  }
  .links-header{
    width: 90%;
    justify-content: center;
    padding-top: 10px;
    border-top: 2px solid #666;
    margin-bottom: 10px;
  }
}