.sabores{
  display: flex;
  width: 100%;
}
.sabor-img{
  width: 50%;
  object-fit: cover;
}
.box-sabor{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}
.box-sabor span{
  margin-bottom:30px ;
  font-style: italic;

}
.paragrafo-sabor{
  width: 60%;
  text-align: left;
  line-height: 1.5;

}

@media(max-width:768px){
  .sabores{
    display: flex;
    flex-direction: column;
  }
  .sabor-img{
    width: 100%;
    margin-bottom: 50px;
  }
  .paragrafo-sabor{
    margin-bottom: 50px;
  }
  
}