.sobre{
  display: flex;
  width: 100%;
}

.box-sobre{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 50%;
  padding: 20px;

}
.box-sobre span{
  margin-bottom:30px ;
  font-style: italic;

}
.sobre-img{
  width: 50%;
  object-fit: cover;
}
.paragrafo-sobre{
  width: 60%;
  text-align: left;
  line-height: 1.5;

}

@media(max-width:768px){
  .sobre{
    flex-direction: column;
  }
  .sobre-img{
    width: 100%;
    margin-bottom: 50px;
  }
  .box-sobre{
   margin-bottom: 50px;
   width: 100%;
   border: none;
  }
  .paragrafo-sobre{
    margin-bottom: 50px;
    font-size: 20px;
    width: 250px;
    text-align: center;
  }
}